@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@300&display=swap');
html{
    height: 100vh;
}

body {
    background-color: #f9ebe1;
    width: 100vw;
    margin: 0;
}

.page-top{
    background-color: #f5dccb ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100vw;
    border-bottom: 2px solid #e9d0c0;
}

.title{
    font-size: 45px;
    font-family: "Fredoka";
    font-weight: bolder;
    padding-left: 30px;
}

.page-top ul{
    font-family: "Fredoka";
    list-style: none;
    padding-right: 160px;
}

.page-middle{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 100vw;
}

.button-container{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100vw;
    /* margin-left: 120px; */
}


.add-book-button{
    font-family: "Fredoka";
    font-size: 30px;
    background-color: #f0ccb3;
    border-radius: 12px;
    height: 55px;
    width: 165px;
}

.library-container{
    display: grid;
    grid-template-columns: repeat(4, 19vw) ;
    grid-template-rows: 300px auto;
    grid-gap: 30px;
}

.book-placeholder{
    border: 3px solid #0fb900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19vw;
    height: 300px;
}

.book-placeholder p{
    font-family: "Quicksand";
}

.book-title{
    font-size: 35px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 30px;
}

.author, .page-count, .read-status{
    font-size: 25px;
    list-style: none;
    padding-bottom: 5px;
    margin: 0;
}

.read-status-button{
    background-color: #f0ccb3;
    border-radius: 12px;
    font-family: "Quicksand";
}